html,
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.background-color {
  display: flex;
  justify-content: center;
  height: 100vh;
  transition: all 500ms;
  box-shadow: inset 0px 0px 25px #00000040;
}

.background-color > form {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 18rem;
  grid:
    "currentHexColor"
    "changeColorButton";
}

.current-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  grid-area: currentHexColor;
  position: relative;
}

.current-color > label {
  min-width: 7ch;
  background-color: #ddd;
  border-radius: 0.7rem;
  font-size: 3rem;
  color: #606060;
  box-shadow: 5px 5px 25px 5px #00000040;
  z-index: 2;
  border-style: none solid none solid !important;
  padding: 0 0.7rem;
}

input {
  outline: 0;
  padding: 0;
  font-weight: 500;
  border: 0;
  background-color: #ddd0;
  color: #222;
  font-family: inherit;
  font-size: 3rem;
}

.color-history {
  padding: 0 0.2rem;
  color: #222;
  list-style: none;
  background-color: #ddd;
  border-radius: 0 0 0.7rem 0.7rem;
  box-shadow: inset 0px 5px 20px 0px #00000040;
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  transform: translateY(-6em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
}

.current-color:focus .color-history,
.current-color:focus-within .color-history,
.current-color:hover .color-history {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;
}

.color-history > li::before {
  content: "#";
  color: #606060;
}
.color-history > li {
  padding: 0 0.5rem;
}
.color-history > li:hover {
  background-color: #ccc;
  border-radius: 0.7rem;
}

/* Button styles not done by me! - https://codepen.io/alvarotrigo/pen/RwVRYGN */
.glow-on-hover {
  grid-area: changeColorButton;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 12rem;
  height: 3.5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #222;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0.7rem;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Button section end */
